# CMake and build files
*.o
build/
CMakeFiles/
Makefile
*.cmake
CMakeCache.txt
cmake_uninstall.cmake.in

# Headers created when running cmake
inc/defines.h
*_header.h
*_init.h

# Libraries and pilight executables
*.a
*.so
pilight-control
pilight-daemon
pilight-debug
pilight-flash
pilight-raw
pilight-receive
pilight-send
pilight-sha256
pilight-uuid
*.exe

# JSON files in base directory - often used for local testing of different configs
/*.json

# IDE project files
.project
.settings/
.cproject
.idea/
*.iml
*.ipr
*.iws

# General os files
*~
*.bak
*.swp
.directory
._*
ehthumbs.db
Thumbs.db

# docs
docs/build