[submodule "libraries/pubsubclient"]
	path = libraries/pubsubclient
	url = git://github.com/knolleary/pubsubclient.git
[submodule "libraries/rcswitch"]
	path = libraries/rcswitch
	url = git://github.com/sui77/rc-switch.git
[submodule "libraries/IRremoteESP8266"]
	path = libraries/IRremoteESP8266
	url = git://github.com/markszabo/IRremoteESP8266.git
[submodule "libraries/IRremote"]
	path = libraries/IRremote
	url = git://github.com/z3t0/Arduino-IRremote.git
[submodule "libraries/SparkFun_BME280_Arduino_Library"]
	path = libraries/SparkFun_BME280_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_BME280_Arduino_Library
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "libraries/DHT-sensor-library"]
	path = libraries/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library
[submodule "libraries/RFM69"]
	path = libraries/RFM69
	url = https://github.com/LowPowerLab/RFM69
[submodule "libraries/NewRemoteSwitch"]
	path = libraries/NewRemoteSwitch
	url = https://github.com/1technophile/NewRemoteSwitch
