[platformio]
default_envs = 
  esp32dev-ble-1
  esp32dev-ble-2
  env:nodemcuv2-ONOFFPILIGHT

;esp32 1
[env:esp32dev-ble-1]
platform = ${com.esp32_platform}
board = esp32dev
board_build.partitions = min_spiffs.csv
lib_deps =
  ${com-esp.lib_deps}
  ${libraries.ble}
build_flags = 
  ${com-esp.build_flags}
  '-DZgatewayBT="BT"'
  '-DGateway_Name="OpenMQTTGateway_ESP32_1"'
upload_protocol = espota
upload_port = 192.168.1.82
upload_flags =
  --auth=OTAPASSWORD
upload_speed = 512000
monitor_speed = 115200

;esp32 2
[env:esp32dev-ble-2]
platform = ${com.esp32_platform}
board = esp32dev
board_build.partitions = min_spiffs.csv
lib_deps =
  ${com-esp.lib_deps}
  ${libraries.ble}
build_flags = 
  ${com-esp.build_flags}
  '-DZgatewayBT="BT"'
  '-DGateway_Name="OpenMQTTGateway_ESP32_2"'
  ;-DCORE_DEBUG_LEVEL=4
upload_protocol = espota
upload_port = 192.168.1.111
upload_flags =
  --auth=OTAPASSWORD
upload_speed = 512000
monitor_speed = 115200

[env:nodemcuv2-ONOFFPILIGHT]
platform = ${com.esp8266_platform}
board = nodemcuv2
lib_deps =
  ${com-esp.lib_deps}
  ${libraries.esppilight}
  ${libraries.esp8266_mdns}
  ${libraries.wire}
build_flags = 
  ${com-esp.build_flags}
  '-DZgatewayPilight="Pilight"'
  '-DZactuatorONOFF="ONOFF"'
  '-DGateway_Name="OpenMQTTGateway_ESP8266_ONOFFRF"'
board_build.flash_mode = dout

[env:esp32-lolin32lite-ble-lp]
platform = ${com.esp32_platform}
board = lolin32
board_build.partitions = min_spiffs.csv
lib_deps =
  ${com-esp.lib_deps}
  ${libraries.ble}
build_flags =
  ${com-esp.build_flags}
  '-DZgatewayBT="BT"'
  '-DLED_RECEIVE=22'
  '-DLED_RECEIVE_ON=0'
  '-DGateway_Name="OpenMQTTGateway_LOLIN32LITE_LP"'
  '-DESPWifiManualSetup=true'
  '-Dwifi_ssid="MyWiFiAP"'
  '-Dwifi_password="MyWiFiAPPassword"'
  '-DMQTT_USER="lolin-esp32"'
  '-DMQTT_PASS="abcdefghi"'
  '-DMQTT_SERVER="192.168.1.17"'
  '-DDEFAULT_LOW_POWER_MODE=2'
